<div class="pop_container {{data.containerClass}}" (scroll)="onWindowScroll()">
    <!-- <div class="blur_bg" [ngClass]="{'terms-bg': data?.viewType ==viewtypes?.termsOfUse}"></div> -->
    <!-- <h1>{{styles}}</h1> -->
    <div class="container pop_content" [ngClass]="{'iframe-container': isInIFrame,'terms_container': data?.viewType ==viewtypes?.termsOfUse}" [ngStyle]="styles">
        <div class="header_content" *ngIf="data.viewType ==viewtypes.search || data?.viewType ==viewtypes?.termsOfUse || data?.viewType ==viewtypes?.commentModeration">
            <a class="pop_close_btn pull-right right_cross_btn" (click)="close()"> <svg width="24" height="24" viewBox="0 0 24 24">
          <path fill="#979197" fill-rule="evenodd" d="M12 10.13L8.261 6.39a1.324 1.324 0 0 0-1.873-.002c-.52.52-.515 1.355.002 1.873L10.13 12l-3.74 3.739a1.324 1.324 0 0 0-.002 1.873c.52.52 1.355.515 1.873-.002L12 13.87l3.739 3.74a1.324 1.324 0 0 0 1.873.002c.52-.52.515-1.355-.002-1.873L13.87 12l3.74-3.739a1.324 1.324 0 0 0 .002-1.873 1.321 1.321 0 0 0-1.873.002L12 10.13z"></path>
        </svg></a>
            <h4 class="alert_subheader BoldFont" *ngIf="data?.subheader">{{data?.subheader}}

            </h4>
            <h2 class="alert_header BoldFont" [ngClass]="{'moderation_header': data?.viewType ==viewtypes?.commentModeration}" *ngIf="data?.header">{{data?.header | titlecase}}</h2>
        </div>
        <div class="header_content" *ngIf="data?.viewType ==viewtypes?.detailed">
            <h4 class="alert_subheader BoldFont">
                <a class="pop_close_btn left_back_btn" (click)="close()">
                    <i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>{{data?.subheader | titlecase}}
                <a class="pop_close_btn pull-right right_cross_btn" (click)="close()">x</a>
            </h4>
            <h2 class="alert_header BoldFont" *ngIf="data.header">{{data.header | titlecase}}</h2>
            <hr class="margin_0" *ngIf="data.header" />
        </div>
        <div class="inner_content">
            <div #target></div>
            <div *ngIf="data?.html_content" [innerHTML]="data?.html_content | safe:1"></div>
            <ng-container *ngIf="data?.templateRef">
                <ng-container *ngTemplateOutlet="data.templateRef;"></ng-container>
            </ng-container>
        </div>
        <div *ngIf="data?.viewType ==viewtypes?.termsOfUse" class="footer_content">
            <button class="btn_cancel" (click)="close()">
            <span class="btn_cancel_content">Cancel</span>
        </button>
        </div>
    </div>
</div>